@import './variables';

a {
  color: $text-color;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.container-fluid {
  padding: 0;
}

#scrollToTopBtn {
  border: 1px solid $primary;
  border-radius: 2em;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  width: 2.3em;
  height: 2.3em;
  background: $transparent;
  color: $primary;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &:hover {
    background: rgba($primary, 0.2);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.hd-title {
  // padding: 0.5em 0 0.8em 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  letter-spacing: 0.1em;
  position: relative;
  font-size: 2em;
  width: 100%;
  font-family: "system-ui", serif;

  &::before,
  &::after {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::after {
    background-image: url('../images/icon-title-r.svg');
    margin-left: 1.9em;
  }

  &::before {
    content: '';
    display: inline-flex;
    gap: 4px;
    background-image: url('../images/icon-title-l.svg');
    margin-right: 1.5em;

    &::before,
    &::after,
    span {
      content: '';
      display: inline-block;
      width: 1px;
      background: #aaa;
    }

    &::before {
      height: 20px;
    }

    &::after {
      height: 12px;
    }

    span {
      height: 16px;
    }
  }

  &::after {
    content: '';
    display: inline-flex;
    gap: 4px;

    &::before,
    &::after,
    span {
      content: '';
      display: inline-block;
      width: 1px;
      background: #aaa;
    }

    &::before {
      height: 20px;
    }

    &::after {
      height: 12px;
    }

    span {
      height: 16px;
    }
  }
}

#specialOffersComponent {}

section {
  padding: 2em 0;
}
