@use './variables' as *;
@use './breakpoints' as *;
@use './mixins' as *;

a {
  color: $text-color;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.container-fluid {
  padding: 0;
}

#scrollToTopBtn {
  border: 1px solid $primary;
  border-radius: 2em;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  width: 2.3em;
  height: 2.3em;
  background: $transparent;
  color: $primary;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &:hover {
    background: rgba($primary, 0.2);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
  @include respond-max(sm){
     bottom: 5rem;
  }
}

.hd-title {
  // padding: 0.5em 0 0.8em 0;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  color: $text-color;
  letter-spacing: 0.1em;
  position: relative;
  width: 100%;
  font-family: "system-ui", serif;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1em;
}

#specialOffersComponent {}

section {
  padding: 2em 0;
}

#parallaxImageComponent {
  .parallax-image {
    height: 60vh;
    background-image: url('../images/banner/BannerPhoto01.jpg');
    /* 替換為你的圖片路徑 */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// 表頭
#popularRoomsComponent {}