@use './variables' as *;
@use './breakpoints' as *;
@use './mixins' as *;

.footerComponent {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 0.95rem;
  padding: 2em;
  background-color: $secondary;
  color: $primary;

  img {
    width: 152px;
    height: 100%;
    object-fit: cover;

    @include respond-max(sm) {
      margin: 0 auto;
    }
  }

  .footer-hotel-group {
    border: 1px solid $secondary-light;
    border-radius: 2em;
    overflow: hidden;
    // background-color: #f9f0e8;
    margin-bottom: 2rem;
  }

  .group-column {
    flex: 1;
    padding: 1rem;
    border-right: 1px solid $secondary-light;
    // background: #f9f0e8;

    .group-title {
      font-weight: bold;
      font-size: 1.05rem;
      margin-bottom: 0.5rem;
    }

    .group-list {
      padding-left: 0;
      list-style: none;
      margin: 0;

      li {
        font-size: 0.95rem;
      }
    }

    &.first {
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
    }

    &.last {
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      border-right: none;
    }
  }

  .group-list {
    list-style: none;
    padding-left: 0;

    li {

      a {
        color: #99897d;
        text-decoration: none;
        font-size: 0.9em;

        &:hover {
          color: $primary;
        }
      }
    }
  }


  .footer-note {
    // border-top: 1px solid #ccc;
    padding-top: 1rem;

    button {
      font-size: 0.85rem;
      padding: 0.4rem 1rem;
    }
  }

  .socialBox {
    display: flex;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em 0.8em;
      border: 1px solid $primary;
      border-right: none;
      background: transparent;
      transition: background 0.3s;

      i {
        color: $primary;
        font-size: 1.2em;
        transition: color 0.3s;
      }

      &:hover {
        background: rgba($primary, 0.1);

        i {
          color: $primary;
        }
      }
    }

    a:first-child {
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
    }

    a:last-child {
      border-right: 1px solid $primary; // 補回最後一個的右邊框
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }

  .row-policy {
    padding-top: 0em;
    display: flex;
    gap: 2em;
    color: $primary;
    justify-content: space-between;
    span{
      a{
        padding: 0 1em;
        color: $primary;
      }
    }
  }

}