@use './variables' as *;
@use './breakpoints' as *;
@use './animations';
@use './mixins' as *;

#ourStoryComponent {
    color: $primary;
    section {
        padding: 0;
    }

    .bg-fluidSecondary {
        background-color: $secondary;
        padding: 4em 3em;
        .flex-wrap{
            width: 50%;
            margin: 0 auto;
        }
    }
}