@use 'variables';


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.05rem;
  word-wrap: break-word;
  line-height: 1.6;
}

/* 3. 標題與段落 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 16px;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}
.no-gutter {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  margin-left: 0;
  margin-right: 0;
  gap: 0 !important;
}

.custom-cols > .col {
  flex: 0 0 calc(25% - 24px);
  max-width: calc(25% - 24px);
}
.row-cols-md-2.g-4 > .col {
  flex: 0 0 calc(50% - 12px);   // 或保守點 - 16px ~ 24px
  max-width: calc(50% - 12px);
}


